<mat-toolbar>
  <span><button mat-button (click)="openDrawer()"><mat-icon aria-hidden="false" aria-label="Example home icon">dehaze</mat-icon></button>
  </span>
  <span><a routerLink="/">Urban Clap</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Register Service</a>
    </li>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Register User</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
