<div class="sidebar">

  <mat-divider></mat-divider>
  <a routerLink="/dashboard" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Dashboard
    </span>
  </a>
  <a routerLink="/categories" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Category
    </span>
  </a>
  <a routerLink="/technologies" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Technologies
    </span>
  </a>
  <a routerLink="/clients" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Clients
    </span>
  </a>
  <a routerLink="/projects" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Projects
    </span>
  </a>
  <a routerLink="/portfolios" class="sidebar__item" routerLinkActive="sidebar__item--active">

    <span class="sidebar__item__text" routerLinkActive="active">
      Portfolios
    </span>
  </a>
</div>
